.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}
.depth_0{
  stroke-width: 1px;
  display: none;
}
.depth_1{
  stroke-width: 1px;
}
.depth_2{
  stroke-width: 1px;
}
.node_duration_circle{
  fill: #f0f0f0;
  //stroke: #517cbb;
}
.node_views_circle{
  display: none;
  fill: #f0f0f0;
  //stroke: #7ba15f;
}
.node_views_circle_inner{
  fill: transparent;
  stroke: #fff;
}
.node_views_circle_outer{
  fill: transparent;
  stroke: #f0f0f0;
}
.video_duration_ray{
  fill: #ccc;
}
.video_views_ray{
  fill: #aaa;
}
.video_label,
.playlist_label,
.topic_label,
.node_label{
  font-size: 10px;
  fill: #222;
}
.root_label,
.topic_label,
.subtopic_label{
  font-size: 12px;
}
.root_node{
  .root_label,
  .node_views_circle,
  .node_duration_circle,
  .node_views_circle_inner,
  .node_views_circle_outer{
    display: none;
  }
}