.link {
  fill: none;
  stroke: #CCC;
  stroke-width: 1px;
}
.node_circle{
  fill: rgba(0,0,0,0.1);
  stroke: #ccc;
}
.video_ray{
  fill: #ccc;
}
.video_label,
.topic_label,
.tree_label,
.node_label{
  font-size: 10px;
  fill: #222;
}
.tree_label{
  font-size: 12px;
}